{% extends "base.html" %}
{% block title %}{{ playlist.name }} Playlist Successfully Transferred{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header mt-3">
      <h1 class="display-3">Successfully transfered "{{ playlist.name }}" to TIDAL!</h1>
    </div>
   <h2 id="track_info" class="mb-3">
    There were {{ playlist.tracks|length }} tracks in total.
   </h2>
   {% if not_found %}
   <hr>
   <h4 id="not_found" class="mb-3">Following tracks were not found on TIDAL:</h4>
    {% for track in not_found %}
      <p class="mb-1">"{{ track.name }}" by {{ track.artists|join(', ') }}</p>
    {% endfor %}
   {% endif %}
  </div>
{% endblock %}